**/*.o
**/*.a
**/*.Po
**/*.lo
**/*.la
**/.libs/
**/.dirstamp
/install-sh
/libtool
/ltmain.sh
/Makefile
/missing
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
**/Makefile.in
/ddd-*.tar.gz
m4/*.m4
**/autom4te.cache/
/ar-lib
/aclocal.m4
**/.deps/
/usr/
